.gray {
	background-color: gray;
}
.white {
	background-color: white !important;
}

.divLeft {
    width:35%;
    display:block;
    float: left;
}
.divRight {
    width:65%;
    display:block;
    float: right;
}

#dataSliderId .slider-selection {
	background: #af1f29;
}

#dataSliderId .slider-handle {
	background: #fff;

}

.image1 {
	float: left;
	width: 100px;
	margin: 5PX;
}
.image2 {
	float: left; 
	width: 50px;
}
.image3 {
	float: left; 
	width: 100px;
}